# Homework -- Lecture 2: Introduction to Python
    

*Given on February 22, 2022*

[Student Association for Applied Statistics (SAAS)](https://saas.berkeley.edu) <br/>
Authors: [Kavin Suresh](mailto:kavins@berkeley.edu), [Jade Pan](mailto:jpan4@berkeley.edu) <br/>

## Introduction

Amazing! You have just attended the lecture introducing python and all the need-to-know concepts within it! Good job!

Now is the time to put all this new material to work!

## 1. Basic Python Syntax

### 1.1 Jupyter

##### 1.1a: 

Run the cell below by using the keyboard shortcut we learned during lecture.

In [ ]:
print("You are a pro who can use JupyterNotebooks! :)")

##### 1.1b: 

Create a markdown cell below this one using the keyboard shortcuts we learned during lecture.

*Hint: This will take more than one keyboard shortcut!*

### 1.2 Code

##### 1.2a: 

Create the following output using print statements in the provided cell.

*Hint: You will need to figure out a way to use the print statement to create the blank line!*

>```
>    SAAS
>    
>    is
>    pretty
>    cool!
>```

In [ ]:
#Code your solution here.

### 1.3 Comments

##### 1.3a: 

In the provided code cell below, comment out any lines needed to create the following output.

>```
>    B
>    A
>    N
>    A
>    N
>    A
>```

In [ ]:
#Comment out any of the following lines to create the desired output!

print("B")
print("A")
print("N")
print("D")
print("A")
print("N")
print("A")

### 1.4 Errors

##### 1.4a: 

Purposely create an error in your code to create an error output. The code can be anything: a function, a variable, or even gibberish from your keyboard. Try to create an error that is not a "SyntaxError"!

In [ ]:
#Create faulty code here!

### 1.5 Numbers and Math

##### 1.5a: 

Create pi (3.14xxx) using the following operators (+, -, *, /, %, and * *) and any numbers you wish. Do this all within a print statement and print it out!

In [ ]:
#Do your work here!
print(...)

##### 1.5b: 

Swap the location of two operators in the following code cell so that it outputs 30.0 instead of 15.0.

In [ ]:
10 + 5 * 10 / 10

## 2. Variables and Functions (Jade's Stuff)

### 2.1 Variables

In [ ]:
...

### 2.2 Control Flow

In [ ]:
...

### 2.3 Functions

In [ ]:
...

## 3. Arrays and Iteration

### 3.1 Arrays and Lists

##### 3.1a: 

Turn the following list into a nested list that separates based on fruits and vegetables! Fruits should go first and vegetables second.

In [ ]:
eatYourFruitsAndVeggiesKids = ["Apple", "Banana", "Broccoli", "Mango", "Onion", "Bell Pepper"]
eatYourFruitsAndVeggiesKids

##### 3.1b: 

Remove the last item on the list above (stored to eatYourFruitsAndVeggiesKids) and assign it to the variable veggies. Print the veggies variable.

*Hint: This is all doable with just ONE function used.*

In [ ]:
veggies = ...

##### 3.1c: 

Insert "Eggplant" into the beginning of the veggies list. Print the veggies variable.

*Hint: Once again, this is doable with just ONE function used.*

In [ ]:
...

### 3.2 Dictionaries (FOR JADE)

In [ ]:
...

### 3.3 For Loops

##### 3.3a: 

You will be provided two lists. Use two for loops to iterate through the lists and multiply all values of one list with all values of the other and print the results. For example, if a list is [1, 2] and another is [3, 4], then 1\*3, 1\*4, 2\*3, and 2\*4 should occur.


*Hint: [This link](https://pynative.com/python-nested-loops/) will be useful.*

In [ ]:
list1 = [1, 5, 8, 9, 11]
list2 = [2, 4, 7, 10, 12]
...